<div class="row">
  <ul class="list-group songs">
    <li class="list-group-item">
      {{input type='text' class='new-band' placeholder='New song' value=title}}
      <button class='btn btn-primary btn-sm new-song-button' disabled={{isAddButtonDisabled}} {{action 'createSong'}}>Add</button>
    </li>
    {{#each model as |song|}}
      <li class="list-group-item song">
        {{song.title}}
        {{star-rating item=song rating=song.rating setAction='updateRating'}}
      </li>
    {{/each}}
  </ul>
</div>
