<div class="row">
  <ul class="list-group songs">
    {{#if canCreateSong}}
      <li class="list-group-item">
        <form class="new-song-form" {{action "createSong" on="submit"}}>
          {{input type='text' class='new-song' placeholder='New song' value=title}}
          <button type='submit' class='btn btn-primary btn-sm new-song-button' disabled={{isAddButtonDisabled}}>Add</button>
        </form>
      </li>
      <li class="list-group-item">
        <div class="btn-group song-filter-search-panel" role="group">
          <div class="sorting-panel">
            <button type="button"
              class="btn btn-default sort-rating-desc sorting-button"
              {{action "setSorting" "ratingDesc"}}>
              Rating
              <span class="glyphicon glyphicon-arrow-down"></span>
            </button>
            <button type="button"
              class="btn btn-default sort-rating-asc sorting-button"
              {{action "setSorting" "ratingAsc"}}>
              Rating
              <span class="glyphicon glyphicon-arrow-up"></span>
            </button>
            <button type="button"
              class="btn btn-default sort-title-desc sorting-button"
              {{action "setSorting" "titleDesc"}}>
              Title
              <span class="glyphicon glyphicon-arrow-down"></span>
            </button>
            <button type="button"
              class="btn btn-default sort-title-asc sorting-button"
              {{action "setSorting" "titleAsc"}}>
              Title
              <span class="glyphicon glyphicon-arrow-up"></span>
            </button>
            <div class="search-panel">
              {{input type="text" placeholder="Start typing"
    value=searchTerm class="search-field"}}
              <div class="input-group-btn">
                <button class="btn btn-default search-button">
                  <span class="glyphicon glyphicon-search" aria-
    label="search" aria-hidden="true"></span>
                </button>
              </div>
            </div>

          </div>
          <div class="clearfix"></div>
        </div>
      </li>
    {{/if}}

    {{#each sortedSongs as |song|}}
      <li class="list-group-item song">
        {{song.title}}
        {{star-rating item=song rating=song.rating setAction='updateRating'}}
      </li>
    {{/each}}

    {{#unless canCreateSong}}
      <div class="list-group-item empty-list">
        <div class="empty-messages">
          There are no songs yet, Why don't you <a href="#" {{action "enableSongCreation"}}>create one?</a>
        </div>
      </div>
    {{/unless}}
  </ul>
</div>
