<div class="row">
  <ul class="list-group songs">
    {{#if canCreateSong}}
      <li class="list-group-item">
        <form class="new-song-form" {{action "createSong" on="submit"}}>
          {{input type='text' class='new-song' placeholder='New song' value=title}}
          <button type='submit' class='btn btn-primary btn-sm new-song-button' disabled={{isAddButtonDisabled}}>Add</button>
        </form>
      </li>
    {{/if}}

    {{#each model as |song|}}
      <li class="list-group-item song">
        {{song.title}}
        {{star-rating item=song rating=song.rating setAction='updateRating'}}
      </li>
    {{/each}}

    {{#unless canCreateSong}}
      <div class="list-group-item empty-list">
        <div class="empty-messages">
          There are no songs yet, Why don't you <a href="#" {{action "enableSongCreation"}}>create one?</a>
        </div>
      </div>
    {{/unless}}
  </ul>
</div>
